#registerLabel {
    -fx-text-fill: #1E1E1E;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto";
    -fx-alignment: center;
}

#registerButton {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #33767C;
    -fx-background-radius: 30;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 19px;
    -fx-cursor: hand;
}

#registerButton:hover {
    -fx-background-color: #2F6E73;
}

#registerButton:pressed {
    -fx-background-color: #2D686D;
}

#progressBarBackground {
    -fx-arc-height: 4;
    -fx-arc-width: 4;
}

#progressBarFill {
    -fx-arc-height: 4;
    -fx-arc-width: 4;
}